.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.right-container {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 260px);
  padding-left: 40px;
  margin: 0px;

  overflow: hidden;
}

/* Link adjustments */
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}